* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.banner {
  height: 100vh;
  background-image: url("../images/greenn.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  align-items: center;
  margin: 0;
}

.banner h4 {
  font-size: 30px;
}

.banner p {
  max-width: 800px;
  font-size: 20px;
}

.banner header {
  position: absolute;
  top: 20px;
  left: 20px;
}

.banner header h1 {
  color: rgb(11, 167, 32);
}

.banner span {
  color: rgb(27, 199, 21);
}

.button button {
  background-color: rgb(2, 163, 29);
  color: white;
  padding: 20px 25px;
  margin: 10px;
  border: 1px solid rgb(53, 143, 25);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.button button:hover {
  transform: scale(1.1);
}

.card {
  padding: 200px 200px;
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon {
  width: 60%;
  border: 5px;
  border-radius: 55%;
  padding: 15px;
  margin-bottom: 10px;
}

.card h2 {
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 35px;
}

.card p {
  color: black;
  font-size: 17px;
  margin-bottom: 15px;
}

buttonsaibamais {
  display: inline-block; 
  text-decoration: none; 
}

.buttonsaibamais button {
  width: 170px;
  height: 60px;
  background-color: rgb(84, 255, 4);
  color: white;
  padding: 15px 35px; 
  margin: 10px;
  border: 1px solid #34db34;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  line-height: 30px; 
}

.buttonsaibamais button:hover {
  transform: scale(1.1);
}

.cardb {
  padding: 200px 200px;
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgb(5, 156, 0);
}

.icon2 {
  order: 1;
  width: 28%;
  border: 5px;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 10px;
}

.cardb h3 {
  font-size: 35px;
  color: whitesmoke;
}

.cardb p {
  color: whitesmoke;
  font-size: 17px;
  margin-bottom: 15px;
}

.buttonversobre button {
  width: 170px;
  height: 60px;
  background-color: rgb(246, 246, 246);
  color: rgb(4, 146, 255);
  padding: 30px 35px;
  margin: 10px;
  border: 1px solid #3498db;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 3px;
}

.buttonversobre button:hover {
  transform: scale(1.1);
}

.cardc {
  display: flex;
  justify-content: center;
  padding: 100px 100px;
  gap: 20px;
  margin: 0 auto;
}
.imgs {
  text-align: center;
}

.icons3,
.icons4,
.icons5 {
  width: 350px;
  max-width: 100%;
  height: auto;
  border: 5px;
  border-radius: 55%;
  margin-bottom: 10px;
}

.text {
  max-width: 280px 150px;
  align-items: center;
  color: rgb(121, 117, 117);
  font-size: 17px;
  margin-bottom: 15px;
}

.btnf button {
  width: 170px;
  height: 60px;
  background-color: rgb(25, 255, 4);
  color: rgb(251, 253, 255);
  padding: 30px 35px;
  margin: 10px;
  border: 1px solid #f0f1f1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 3px;
  align-items: center;
}

.btnf button:hover {
  transform: scale(1.1);
}

.social-icons {
  font-size: 24px;
  text-align: center;
}

.social-icons a {
  margin-right: 10px;
  color: #00ff0d;
}

.textf {
  padding: 50px;
  text-align: center;
  color: rgb(121, 117, 117);
}

.textf span {
  font-weight: bold;
}
